{% load static %}

    <header>
      <div class="container">
        <div id="branding">
          <img src="{% static 'images/ipl.jpeg' %}">
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="login.html">Logout</a></li>
            <li><a href="leaderboards.html">LeaderBoards</a></li>
          </ul>
        </nav>
      </div>
    </header>
