img {
	width: 100px;
}

.card {
	margin: 0 0 30% 0;
}

.card .card-body h1{
	text-align: center;
}

.btn-success {
	margin: 0 50%;
}

footer {
	height: 60px; 
	background-color: lightgrey; 
	text-align: center;
}

footer p {
	margin-top: 10px; 
}

.question-form {
	margin: 0 0 20% 0;
}

.team-img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*justify-content: space-around;*/
}

.team-img img {
	width: 100px; 
	height: 100px;
}

table, th, td {
	margin: 5%;
  	border: 1px solid black;
}


