img {
	width: 100px;
}

.card {
	margin: 0% 0% 30% 0%;
}

.card .card-body h1{
	text-align: center;
}

.btn-success {
	margin: 0 50%;
}

footer {
	height: 60px; 
	background-color: lightgrey; 
	text-align: center;
}

footer p {
	margin-top: 10px; 
}
