{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} | Register Account {% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="card">
    
    <div class="card-body">
       <h1>Login</h1><hr> 
    </div> 

    <div class="card-body">

    <form method="post">

     {% csrf_token %}
      
     <div class="my-form">
        {{form|crispy}}
     </div>
        
       <hr>
       <div style="display: flex;justify-content: space-around;">
         <button style="margin: auto;" type="submit" class="btn btn-success">Login</button>
         <a href={% url 'accounts:register' %}>Register</a> 
       </div>
    </form>    
    </div>
  </div>
</div>

{% endblock %}